<section class="services" id="services">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6">
                <a href="~/Login/StudentLogin">
                    <div class="service-item">
                        <i class="bi bi-people"></i>
                        <h4>Student Login</h4>
                        <br />
                        <br />
                        <br />
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="~/Login/UserLogin">
                    <div class="service-item">
                        <i class="bi bi-people"></i>
                        <h4>Admins and Employees Login</h4>
                        <br />
                        <br />
                        <br />
                    </div>
                </a>
            </div> 
            <div class="content">
   @* <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3 class="text-center">Sign In </h3>
                  <p class="mb-4 text-center">Enter your username and password.</p>
                </div>
                <form action="#" method="post">
                  <div class="form-group first">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username">

                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                    
                  </div>
                  
                  <div class="d-flex mb-5 align-items-center">
                    
                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
                  </div>

                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">

                  
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div> *@
  </div>
        </div>
    </div>
</section>