@using System.Security.Claims;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "LoginPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
        <meta http-equiv="refresh" content="0; url =
        /Login/LoginPage" />
   
    
    
</head>
<body>
   
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>