@model COOP_project.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkId" class="control-label"></label>
                <select asp-for="WorkId" class="form-control" asp-items="ViewBag.WorkId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="radio" value="signed" name="radio" class="form-check-input" asp-for="isSigned" /> @Html.DisplayNameFor(model => model.isSigned)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="radio" value="Reject" name="radio" class="form-check-input" asp-for="isRejected" /> @Html.DisplayNameFor(model => model.isRejected)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="radio" value="Accept" name="radio" class="form-check-input" asp-for="isAccepted" /> @Html.DisplayNameFor(model => model.isAccepted)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="radio" value="Done" name="radio" class="form-check-input" asp-for="isDone" /> @Html.DisplayNameFor(model => model.isDone)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>|
    <a asp-controller="Users" asp-action="adminPage">Back to Admin Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
