@using System.Security.Claims;

@*<section id="services" class="services">
    <div class="container">




        <div class="row">
            <div class="container">
                <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                    <a href="~/users/Index">
                    <div class="icon-box">

                        <h4>Show Users</h4>
                       
                    </div>
                    </a>
                </div>
            </div>

           
            

        </div>

    </div>
</section>*@


<section class="services" id="services">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6">
                <a href="~/users/Index">
                <div class="service-item">
                    <i class="bi bi-people"></i>
                    <h4>Users Page</h4>
                    <br />
                    <br />
                    <br />
                </div>
                </a>
            </div>
            
            <div class="col-lg-6">
                <a href="~/volunteerWorks/Index">
                <div class="service-item">
                    <i class="bi bi-collection"></i>
                        <h4>Volunteer work Page</h4>
                    <br />
                    <br />
                    <br />
                </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="~/Students/Index">
                <div class="service-item">
                    <i class="bi bi-person-circle"></i>
                    <h4>Students Page</h4>
                    <br />
                    <br />
                    <br />
                </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="~/Users/studentsOrders">
                <div class="service-item">
                <i class="bi bi-archive"></i>
                    <h4>Students Orders Page</h4>
                    <br />
                    <br />
                    <br />
                </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="~/Buildings/Index">
                    <div class="service-item">
                        <i class="bi bi-building"></i>
                        <h4>Buildings Page</h4>
                        <br />
                        <br />
                        <br />
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="~/Majors/Index">
                    <div class="service-item">
                        <i class="bi bi-layers"></i>
                        <h4>Majors Page</h4>
                        <br />
                        <br />
                        <br />
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="~/Orders/Index">
                    <div class="service-item">
                        <i class="bi bi-file-text"></i>
                        <h4>Orders Page</h4>
                        <br />
                        <br />
                        <br />
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</section>